# dependencies
node_modules/

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db

# editor and local env
.env
.env.local
.env.*.local
*.pem

# web build artifacts
/web/

# package manager lock files
package-lock.json
